@import "tailwindcss";

body{
  @apply bg-gray-100
}
@keyframes rotate { from { transform: rotate(0deg); } to { transform: rotate(360deg); } }

@keyframes imageSwitch { 0%, 33% { opacity: 1; } 34%, 100% { opacity: 0; } }